.dashboard-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.center-content {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
