@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    width: 100%;
    height: 100%;
    background: #050510;
    color: white;
    font-family: system-ui, sans-serif;
    overflow-x: hidden;
}


* {
    cursor: none !important;
}


.dark-scrollbar::-webkit-scrollbar {
  width: 8px;            
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: #0a0a0a;     
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: #333;       
  border-radius: 4px;     
  border: 1px solid #0a0a0a; 
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;       
}