* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #050510 !important;
    color: white;
    font-family: system-ui, sans-serif;
}
