spring:
  application:
    name: incx

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
    loggers: [slf4j]

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
  api-docs:
    path: /v3/api-docs

server:
  port: 8080
  servlet:
    context-path: /api

management:
  endpoints:
    web:
      exposure:
        include: "*"
        exclude: health,info
  info:
    env:
      enabled: true

info:
  app:
    name: Incx
    description: Incx.
    version: 1.0.0

security:
  publicEndpoints:
    - /auth/login
    - /users
    - /users/user
    - /swagger-ui.html
    - /swagger-ui/**
    - /v3/api-docs/**
    - /swagger-resources/**
    - /webjars/**